.container {
    position: relative;
    display: flex;
    gap: 10px
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: burlywood;
}